#login h1 a {
	background-image: url("../../images/admin-logo.png") !important;
	width:300px;
	height:100px;
	background-size: 100% 100%;
}
.login form {
	background: #eee;
	box-shadow: none;
}
.login form input[type=text],
.login form input[type=password] {
	background: #fff;
}
body {background: #fff;}