@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,latin-ext);

body { word-wrap:break-word; background:#fff; font-family:'Open Sans', sans-serif; font-size:14px; line-height:1.5em; color:#444; margin:20px;}
p {margin-bottom:2em;}
p:first-of-type {margin-top:0;}
p:last-of-type {margin-bottom:0;}
img {max-width:100%; height:auto;}
img.left {float:left; margin:0 30px 30px 0;}
img.right {float:right; margin:0 0 30px 30px;}
h1,
h2,
h3,
h4,
h5,
h6 {font:600 180% 'Open Sans', sans-serif; clear:both; color:#444; margin:40px 0;}
h4 {font-size:160%;}
h5 {font-size:140%;}
h6 {font-size:120%; margin-bottom:20px;}
/* list ul */
ul {margin:20px 0; padding:0; list-style-type:none;}
ul > li {padding-left:26px; margin-bottom:7px; min-height:15px; position:relative;}
ul > li:before {width:8px; height:8px; border-radius:50%; display:inline-block; position:absolute; background:#1194D8; content:''; left:5px; top:7px;}
ul > li li:before {width:8px; height:8px; border-radius:50%; display:inline-block; position:absolute; background:#1194D8; content:''; left:5px; top:7px;}
/* list ol */
ol {margin:20px 0; counter-reset:listCounter; padding:0; list-style-type:none;}
ol > li {margin-bottom:3px; counter-increment:listCounter; padding-left:30px; position:relative;}
ol > li:before {position:absolute; left:5px; top:0; font-weight:bold; content:counter(listCounter) ". "; color:#1194D8; display:inline-block;}
ol > li > ol {margin-left:26px;}
ol > li > ol > li:before {content:counter(listCounter, lower-alpha) ". ";}


/*
------------------------------------------------------------
    stylowanie indywidualnych wysiwig odbywa się poprzez klasy .acf_nazwaPola 
    (ktora się tworzy tworząc pola acf)
------------------------------------------------------------
*/
.acf_contactSectionText {
    font-size:11px;
}